.button {
  cursor: pointer;
}

.transparent {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.25s;
  text-underline-offset: 2px;

  &:hover {
    color: tomato;
    text-decoration: underline;
  }
}

.primary {
  padding: 8px 16px;
  align-self: center;
  border: none;
  outline: none;
  border-radius: 4px;
  font: 500 16px/1.25 "Roboto", "Sans-serif";
  background-color: #6c757d;

  &:disabled {
    color: #fff;
  }

  &:hover:not(:disabled) {
    background-color: #06fd;
  }
}

.danger {
  padding: 8px 16px;
  align-self: center;
  border: none;
  outline: none;
  border-radius: 4px;
  font: 500 16px/1.25 "Roboto", "Sans-serif";
  background-color: #6c757d;
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: #dc3545;
  }
}

// secondary animated
.animated {
  padding: 8px 16px;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color 0.45s;
  overflow: hidden;

  &:hover {
    background-color: #6c757d;

    & > p {
      transform: translateX(0);
    }
  }

  .icon {
    font-size: 18px;
  }

  p {
    transform: translateX(120%);
    transition: transform 0.45s;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}