.logout {
  padding: 8px 16px;
  align-self: center;
  border: none;
  outline: none;
  border-radius: 4px;
  font: 500 16px/1.25 "Roboto", "Sans-serif";
  background-color: #6c757d;
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: #dc3545;
  }
}
